@model AddCarFormModel
@{
    ViewData["Title"] = "Add Car";
}
<form method="post">
    <div class="form-group">
        <label asp-for="Brand"></label>
        <input asp-for="Brand" class="form-control" placeholder="Place Brand...">
    </div>
    <div class="form-group">
        <label asp-for="Model"></label>
        <input asp-for="Model" class="form-control" placeholder="Add model...">
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" rows="4" class="form-control" placeholder="Descreption......"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="ImageURL"></label>
        <input asp-for="ImageURL" class="form-control" placeholder="Place Image ...">
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control" placeholder="@DateTime.UtcNow.Year">
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect2">Example multiple select</label>
        <select multiple class="form-control" id="exampleFormControlSelect2">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
    </div>
    <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
</form>